@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script src="~/Scripts/vue-the-mask.js"></script>
    <script src="~/Scripts/vee-validate.js"></script>


    <script>
        Vue.use(VueTheMask);
        Vue.use(VeeValidate,
            {
                classes: true,
                classNames: {
                    valid: 'is-valid',
                    invalid: 'is-invalid'
                }
        });

        new Vue
        ({
            el: '#FormCadastroPessoas'
        });
    </script>
}

@if (ViewBag.mensageSucesso != null) // nao ta funcionando suporta variavel em "pessoacontroler"
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @ViewBag.mensagemSucesso
        <strong>PARABENS!</strong> Você salvou mais uma pessoa no "DB".
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div id="FormCadastroPessoas">
    <form method="post" action="/Pessoa/CadastrarPost">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h2 class="text-center mb-4">Cadastro de Pessoas</h2>


                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="Nome" class="form-label">Nome: <span>*</span></label>
                            <input type="text" v-validate="'required'" class="form-control" id="Nome" name="Nome" maxlength="100">
                            <div class="invalid-feedback">
                                Campo Obrigatorio.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="DataNascimento" class="form-label">Data de Nascimento: <span>*</span></label>
                            <input type="date" class="form-control" id="DataNascimento" name="DataNascimento" v-validate="'required|date_format:yyyy-MM-dd'">
                            <div class="invalid-feedback">
                                Data invalida.
                            </div>
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col-md-12 mb-2">
                            <label class="form-label">Sexo: <span>*</span></label>
                        </div>
                        <div class="col-md-12">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="SexoMasculino" v-validate="'required'" name="Sexo" value="M">
                                <label class="form-check-label" for="SexoMasculino">Masculino</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" id="SexoFeminino" v-validate="'required'" name="Sexo" value="F">
                                <label class="form-check-label" for="SexoFeminino">Feminino</label>
                            </div>
                        </div>
                        <div class="invalid-feedback">
                            Campo Obrigatorio.
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="EstadoCivil" class="form-label">Estado Civil: <span>*</span></label>
                            <select class="form-control" id="EstadoCivil" name="EstadoCivil" v-validate="'required'">
                                <option value="">Selecione uma opção...</option>
                                <option value="Solteiro">Solteiro(a)</option>
                                <option value="Casado">Casado(a)</option>
                                <option value="Divorciado">Divorciado(a)</option>
                                <option value="Viuvo">Viúvo(a)</option>
                            </select>
                            <div class="invalid-feedback">
                                Campo Obrigatorio.
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="UF" class="form-label">UF: <span>*</span></label>
                            <select class="form-control" id="UF" name="UF" v-validate="'required'">
                                <option value="">Selecione uma opção...</option>
                                <option value="AC">Acre</option>
                                <option value="AL">Alagoas</option>
                                <option value="AP">Amapá</option>
                                <option value="AM">Amazonas</option>
                                <option value="BA">Bahia</option>
                                <option value="CE">Ceará</option>
                                <option value="DF">Distrito Federal</option>
                                <option value="ES">Espírito Santo</option>
                                <option value="GO">Goiás</option>
                                <option value="MA">Maranhão</option>
                                <option value="MT">Mato Grosso</option>
                                <option value="MS">Mato Grosso do Sul</option>
                                <option value="MG">Minas Gerais</option>
                                <option value="PA">Pará</option>
                                <option value="PB">Paraíba</option>
                                <option value="PR">Paraná</option>
                                <option value="PE">Pernambuco</option>
                                <option value="PI">Piauí</option>
                                <option value="RJ">Rio de Janeiro</option>
                                <option value="RN">Rio Grande do Norte</option>
                                <option value="RS">Rio Grande do Sul</option>
                                <option value="RO">Rondônia</option>
                                <option value="RR">Roraima</option>
                                <option value="SC">Santa Catarina</option>
                                <option value="SP">São Paulo</option>
                                <option value="SE">Sergipe</option>
                                <option value="TO">Tocantins</option>
                            </select>
                            <div class="invalid-feedback">
                                Campo Obrigatorio.
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="CPF" class="form-label">CPF: <span>*</span></label>
                            <input type="text" class="form-control" id="CPF" name="CPF" v-mask="'###.###.###-##'" v-validate="'required'">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="CEP" class="form-label">CEP: <span>*</span></label>
                            <input type="text" class="form-control" id="CEP" name="CEP" v-mask="'#####-###'" v-validate="'required'">
                        </div>
                        <div class="invalid-feedback">
                            Campo Obrigatorio.
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="Endereco" class="form-label">Endereço: <span>*</span></label>
                            <input type="text" class="form-control" id="Endereco" name="Endereco" v-validate="'required'" maxlength="100">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="Numero" class="form-label">Número: <span>*</span></label>
                            <input type="text" class="form-control" id="Numero" name="Numero" v-validate="'required'" maxlength="100">
                        </div>
                        <div class="invalid-feedback">
                            Campo Obrigatorio.
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="Complemento" class="form-label">Complemento:</label>
                            <input type="text" class="form-control" id="Complemento" name="Complemento" maxlength="100">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="Bairro" class="form-label">Bairro: <span>*</span> </label>
                            <input type="text" class="form-control" id="Bairro" name="Bairro" v-validate="'required'" maxlength="100">
                        </div>
                        <div class="invalid-feedback">
                            Campo Obrigatorio.
                        </div>
                    </div>

                    <div class="form-row mb-3">
                        <div class="col-md-12">
                            <label for="Cidade" class="form-label">Cidade: <span>*</span></label>
                            <input type="text" class="form-control" id="Cidade" name="Cidade" v-validate="'required'" maxlength="50">
                        </div>
                        <div class="invalid-feedback">
                            Campo Obrigatorio.
                        </div>
                    </div>

                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>